
  <div ng-repeat="xveloper in home.xvelopers" class="uk-width-medium-1-3 uk-text-center uk-margin-top" >
    <div class="uk-thumbnail uk-overlay-hover uk-border-circle">
      <figure class="uk-overlay">
        <img class="uk-border-circle" width="240" height="240" ng-src="{{xveloper.image}}">
        <figcaption class="uk-overlay-panel uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center uk-border-circle">
          <div>
            <a ng-repeat="link in xveloper.links" ng-href="{{link.url}}" class="uk-icon-button {{link.icon}}"></a>
          </div>
        </figcaption>
      </figure>
    </div>
    <h2 class="uk-margin-bottom-remove">{{xveloper.name}}</h2>
    <p class="uk-text-large uk-margin-top-remove uk-text-muted"  ng-bind-html="home.giveMeHtml(xveloper.description)"></p>
  </div>
